<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student | Dashboard</title>

  <!-- Normalize browser inconsistencies -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <script defer src="/js/fontawesome-all.min.js"></script>
  <!-- MD Bootstrap -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

  <style>
    /* Scrollbar styling */

    body::-webkit-scrollbar {
      width: 9px;
    }

    body::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: linear-gradient(40deg, #45cafc, #303f9f);
    }

    body::-webkit-scrollbar-track {
      background-color: rgb(230, 223, 223);
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <!-- Wrapper stretches to the whole viewport height -->
  <div class="wrapper">
    <!-- Sidebar -->
    
    <%-include('student/includes/sidebar');%>



    <!-- Main -->
    <main>
      <!-- Topbar -->
      <%- include('auth-includes/topbar'); %> 

      <!-- Content -->
      <div class="content">
        <!-- Card -->
        <article class="card card-cascade narrower">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3">Placement Details - <%=year%></span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">University Roll No.</th>
                    <th class="th-md">Student Name</th>
                    <th class="th-md">Placed at</th>
                  </tr>
                </thead>

                <tbody>
                  <%for(let i=0;i<data.length;i++){%>
                  <tr>
                    <td><%=data[i].roll%></td>
                    <td><%=data[i].name%></td>
                    <td><%=data[i].company%></td>
                  </tr>
                  <% } %> 
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article>

      </div>
    </main>
  </div>

  <!-- Bootstrap dependencies -->
  <!-- First jQuery, then Popper.js and lastly Bootstrap JS -->
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/js/mdb.min.js"></script>
  <!-- Custom script -->
  <script src="/js/scripts.js"></script>
</body>

</html>