<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PlacMan | A placement Management system</title>

  <!-- Normalize browser inconsistencies -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <script defer src="/js/fontawesome-all.min.js"></script>
  <!-- MD Bootstrap -->
  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/css/mdb.min.css">
  <link rel="stylesheet" href="/css/styles.css">

  <script src="/js/teacher/sidebar.js" defer></script>
  <style>
    /* Scrollbar styling */

    body::-webkit-scrollbar {
      width: 9px;
    }

    body::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: rgba(29, 17, 17, 0.788);
    }

    body::-webkit-scrollbar-track {
      background-color: rgb(230, 223, 223);
      border-radius: 10px;
    }

    /* Profile Modal */

    .card.profile-card {
      width: 100%;
      margin: 0;
    }

    #profileModal .modal-content,
    #profileModal .modal-content .modal-body,
    #profileModal .modal-content .modal-body .card.profile-card {
      border-radius: 10px;
    }

    #profileModal .modal-content .modal-body .card.profile-card img {
      border-radius: 10px 10px 0 0;
    }
  </style>
</head>

<body>
  <!-- Wrapper stretches to the whole viewport height -->
  <div class="wrapper">
    <!-- Sidebar -->
    <%-include('includes/sidebar');%>

    <!-- Main -->
    <main>
      <!-- Topbar -->
      <%-include('includes/topbar');%> 
      <!--  -->


      <template id="record-template">
        <article class="card card-cascade narrower">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3" id="recordYear">Placement Details - </span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">University Roll No.</th>
                    <th class="th-md">Student Name</th>
                    <th class="th-md">Placed at</th>
                  </tr>
                </thead>

                <tbody id="recordRows">
                 
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article></template>

      <template id="edit-form-template">
          <p class="subtitle"> Change details for updation</p>
            <form id="edit-form" action="/teacher/signup" method="POST" enctype="multipart/form-data">
          
              <input class="form-control mb-2" type="text" id="teacherName" name="teacherName" placeholder="Name" required>
              <input class="form-control mb-2" type="email" id="teacherEmail" name="teacherEmail" placeholder="Your email" required>
              <input class="form-control mb-2" type="tel" id="teacherPhone" name="teacherPhone" placeholder="your number" required>
              <select class="form-control form-select mb-2" name="teacherDept" id="teacherDept">
                <option value="Electrical Eng">Electrical Eng</option>
                <option value="Electronics and Communication Eng">Electronics and Communication Eng</option>
                <option value="Computer Science Eng"> Computer Science Eng</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Civil Eng">Civil Eng</option>
                <option value="Mechanical Eng">Mechanical Eng</option>
              </select>
              <input class="btn btn-secondary btn-lg mx-auto my-4" type="submit" value="Submit">
          </form>
      </template>  

      <template id="students-all-template">
        <article class="card card-cascade narrower w-75">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3">All students</span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">Roll No</th>
                    <th class="th-md">Name</th>
                    <th class="th-md">Status</th>
                    <th class="th-md">Branch</th>
                    <th class="th-md">Action</th>
                    

                  </tr>
                </thead>

                <tbody id="studentRows">
                 
                  
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article></template>      
    
       <template id="student-template">
        <article class="card card-cascade narrower w-75">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3" id="studentName"> </span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">Description</th>
                    <th class="th-md">Student Info</th>
                    
                  </tr>
                </thead>

                <tbody id="studentDataRows">
                 
                  
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article></template>  
        
        <template id="filter-form-template">
          <form id="filter-form">
            <select class="form-control form-select mb-2" name="gender" id="filter-gender">
              <option selected>Select gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
            </select>
            <select class="form-control form-select mb-2" name="branch" id="filter-branch">
                <option selected>Select branch</option>
                <option value="Electrical Eng">Electrical Eng</option>
                <option value="Electronics and Communication Eng">Electronics and Communication Eng</option>
                <option value="Computer Science Eng"> Computer Science Eng</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Civil Eng">Civil Eng</option>
                <option value="Mechanical Eng">Mechanical Eng</option>
              </select>
              <select id="filter-status" name="status" class="form-control form-select mb-2">
                <option selected>Select status</option>
                <option value="Placed">Placed</option>
                <option value="Unplaced">Unplaced</option>
              </select>
              <select id="filter-company" name="company" class="form-control form-select mb-2">
                <option selected>Select company</option>
                <% for(let i=0;i<companies.length;i++){ %>
                
                  <option value="<%=companies[i].name%>"><%=companies[i].name%></option>

                <% } %>  
              </select>
              <input type="text" placeholder="Name" class="form-control mb-2" id="filter-name" name="name">
              <input type="submit" class="btn btn-lg btn-secondary" value="Submit">
          </form>
        </template>

        <template id="report-template">
          <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
                  <img class="img-fluid rounded-start" src="/img/techno.png" alt="techno">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Placement Report</h5>
                <p class="card-text" id="reportTitle">
                  Companies participated :
                  <br>
                  Students placed : 
                  <br>
                  Placement percentage : 98%
                  <br>
                  Departments participated : 14
                  <br>
                  Average package : 7 LPA
                </p>

              </div>
            </div>
          </div>
        </div>
        <br>
        <article class="card card-cascade narrower w-75">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3">Company wise list</span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">Company</th>
                    <th class="th-md">Students placed</th>
                    <th class="th-md">Estimated offer</th>
                    <th class="th-md">Category</th>
                  </tr>
                </thead>

                <tbody id="reportCompanyRows">
                  
                  
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article>

        <article class="card card-cascade narrower w-75">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3">Student wise list</span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">Roll No</th>
                    <th class="th-md">Name</th>
                    <th class="th-md">status</th>
                    <th class="th-md">Branch</th>
                    <th class="th-md">Company</th>
                    

                  </tr>
                </thead>

                <tbody id="reportStudentRows">
                 
                  
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article>

        </template>

        <template id="companyAll-template">
        
        <br>
        <article class="card card-cascade narrower w-75">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3">Companies</span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">Company</th>
                    <th class="th-md">Students placed</th>
                    <th class="th-md">Average offer</th>
                    <th class="th-md">Category</th>
                    <th class="th-md">Action</th>

                  </tr>
                </thead>

                <tbody id="companyRows">
                  
                  
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article>


        </template>

        <template id="company-template">
        <article class="card card-cascade narrower w-75">
          <!-- Card heading -->
          <section class="secondary-gradient py-3 mb-4 d-flex justify-content-center align-items-center">
            <span class="text-dark mx-3" id="companyName"> </span>
          </section>

          <!-- Card content -->
          <section class="px-4">
            <!-- Table -->
            <section class="table-wrapper">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th class="th-md">Description</th>
                    <th class="th-md">Company Info</th>
                    
                  </tr>
                </thead>

                <tbody id="companyDataRows">
                 
                  
                </tbody>
                
              </table>
            </section>

            <hr class="my-0">

         
          </section>
        </article></template>  




      <input type="hidden" id="teacher-uid" value="<%=teacher.uid%>">

      <!-- Content -->
      <div class="content"  id="content">
        <!-- First card -->


        
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <%if(teacher.gender=="Male"){%>
                <img class="img-fluid rounded-start" src="/img/teacher-male.png" alt="student">
                <% }else{ %>
                  <img class="img-fluid rounded-start" src="/img/teacher-female.png" alt="student">
              <% } %>  
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%=teacher.name%></h5>
                <p class="card-text">
                  <%=teacher.department%>
                  <br>
                  UID : <%=teacher.uid%>
                  <br>
                  Email : <%= teacher.email %>  
                  <br>
                  Phone : <%=teacher.phone%>
                  <br>
                  Status : <%if(teacher.admin){%> Admin<% }else{ %>Coordinator<% } %>  
                  <br>
                </p>
                
              </div>
            </div>
          </div>
        </div>
        <small class="text-muted">Mentor under <%=teacher.department%> department</small>
        <article class="card card-cascade wider reverse my-4">
         
        </article>

        <!-- Second card -->
        <h3 class="m-4">Notices</h3>

        <%for(let i=0;i<notices.length;i++){%>
          <article class="card">
            <section class="card-body">
              <h6 class="text-success accent-3">
                <i class="far fa-bell"></i>
                <%=notices[i].date%>
              </h6>
              <br>
              
              <p class="card-text">
                <%=notices[i].body%>
              </p>
            </section>
            <section class="card-footer text-right">
              <a href="mailto:<%=notices[i].author.email%>"><button class="btn btn-success accent-3" data-toggle="modal" data-target="#profileModal">Contact : <%=notices[i].author.name%></button></a>
            </section>
          </article> 
        <% } %> 

        <h3 class="m-4">Company notices</h3>

        <%for(let i=0;i<compNotices.length;i++){%>
          <article class="card">
            <section class="card-body">
              <h6 class="text-success accent-3">
                <i class="far fa-bell"></i>
                <%=compNotices[i].date%>
              </h6>
              <br>
              
              <p class="card-text">
                <%=compNotices[i].body%>
              </p>
            </section>
            <section class="card-footer text-right">
              <a href="mailto:<%=compNotices[i].author.email%>"><button class="btn btn-success accent-3" data-toggle="modal" data-target="#profileModal">Contact : <%=compNotices[i].author.name%></button></a>
            </section>
          </article> 
        <% } %> 


      </div>
    </main>
  </div>

  <!-- Bootstrap dependencies -->
  <!-- First jQuery, then Popper.js and lastly Bootstrap JS -->
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="/js/mdb.min.js"></script>
  <!-- Custom script -->
  <script src="/js/scripts.js"></script>
</body>

</html>